/* GLOBAL RESETS */
* {
    box-sizing: border-box;
}

// VARIABLES
$color-text-body: rgba(0, 0, 0, .8);
$color-text-headings: rgba(0, 0, 0, 1);
$color-accent: rgba(234, 194, 222, 1);
$color-link: rgba(163, 209, 200, 1);
$color-link-darker: rgba(121, 169, 159, 1);
$color-light-accent: rgba(122, 203, 157, 1);
$color-dark-accent: rgb(0, 0, 0);


$font-family-sans: 'p22-underground', sans-serif;
$font-family-serif: 'bely', serif;
$font-family-display: 'bely-display', sans-serif;


// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/helpers";