/* BUTTONS */

.button,
button {
    display: inline-block;
    background-color: $color-link;
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em .5em 1em 0;

    &:hover {
        color: white;
        background-color: $color-link-darker;
        border-radius: 1em;
        transition: ease-in 250ms;
    }
}