/* RESET BODY */

body {
    margin: 0;
}

/* CONTAINER */

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;

    @media (min-width: $breakpoint-small) {
        margin: 2em;
        padding: 0 1em;
        max-width: 1200px;
        background-color: antiquewhite;
    }

    @media (min-width: $breakpoint-medium) {
        margin: 1em;
        max-width: 1500px;
        background-color: aqua;
    }
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */

// SMALL

body {
    font-size: 87.5%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%;
    }
}