/* CASE STUDY SECTIONS */

.design-section {
    min-height: 50vh;
}

.info-section {
    min-height: 60vh;
    padding: 4em 0;
    padding-bottom: 1em;
    padding-top: 0;
}

.user-section {
    min-height: 50vh;
}

.display-section {
    min-height: auto;
    padding-bottom: 5em;
}

/* CASE STUDY STYLING */

.project-hero {
    height: 90vh;
    overflow: hidden;
    display: flex;
}

@media (max-width:768px) {
    .project-hero {
        margin: 2em;
    }
}

.project-text {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;

    h1.headline {
        justify-content: flex-start;
        // border: 1px solid red;
    }

    .project-skills {
        display: flex;
        justify-content: space-between;
    }
}

.intro-full-width {
    background-color: $color-background-light;
    min-height: 50vh;
    padding: 6em 0;

    h3,
    p {
        color: $color-text-body-dark;
    }
}

.image-banner {

    img {
        width: 98%;
        position: relative;
        top: -85px;
        margin: 0 auto;
        text-align: center;
        display: grid;
    }
}

.logo-color {
    padding: 2em 0;
}

.info-text {
    flex-direction: row-reverse;
}

.typography {
    padding: 2em 0;
}

.icons {
    padding: 2em 0;
}

.charts {
    padding: 2em 0;
}

.piko-full-width {
    background-image: url('../../img/piko-trangles-top.svg'), url(../../img/piko-trangles-bottom.svg);
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    background-color: $color-background-light;
    min-height: 50vh;
    padding: 6em 0;

    h3,
    p {
        color: $color-text-body-dark;
    }
}

.piko-icons {
    background-color: $color-background-light;
    min-height: 40vh;
    padding: 3em 0;
}