/* SITE STRUCTURE */

body {
    background: $color-background-dark;
    background-image: url(../img/tztd-background-blue.svg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECTIONS */

.hero {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }
}

@media (min-width: $breakpoint-small) {

    .hero {
        text-align: left;

        h1 {
            font-size: 6rem;
            margin: 0;
            margin-bottom: .25em;
            color: $color-text-body-light;
            width: 600px;
        }

        p {
            font-size: 1.25rem;
            width: 600px;
        }
    }
}

.studies-home {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }

    p {
        max-width: 400px;
    }

    .studies-text {

        h1 {
            text-align: center;
        }

        p {
            margin: 0 auto;
            text-align: center;
            padding: 0 0 3em 0;
        }
    }
}

@media (min-width: $breakpoint-small) {

    .studies-home {
        text-align: left;

        h1 {
            font-size: 5rem;
            margin-bottom: .25em;
            color: $color-text-body-light;
        }
    }
}

.about-home {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }
}

@media (min-width: $breakpoint-small) {

    .about-home {
        text-align: left;

        h1 {
            font-size: 6rem;
            margin: 0;
            margin-bottom: .25em;
            color: $color-text-body-light;
            width: 600px;
        }

        p {
            font-size: 1.25rem;
            width: 500px;
        }
    }
}

// .contact-home {
//     text-align: center;

//     h1 {
//         font-size: 5rem;
//         margin-bottom: .25em;
//         color: $color-text-body-light;
//     }

//     p {
//         max-width: 400px;
//     }
// }

// @media (min-width: $breakpoint-small) {

//     .contact-home {
//         text-align: left;

//         h1 {
//             font-size: 5rem;
//             margin-bottom: .25em;
//             color: $color-text-body-light;
//         }
//     }
// }