/* SITE STRUCTURE */

body {
    background: $color-background-dark;
}

/* SECTIONS */

.hero {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }
}

@media (min-width: $breakpoint-small) {

    .hero {
        text-align: left;

        h1 {
            font-size: 5rem;
            margin-bottom: .25em;
            color: $color-text-body-light;
        }

        p {
            max-width: 400px;
        }
    }
}

.studies-home {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }

    p {
        max-width: 400px;
    }
}

@media (min-width: $breakpoint-small) {

    .studies-home {
        text-align: left;

        h1 {
            font-size: 5rem;
            margin-bottom: .25em;
            color: $color-text-body-light;
        }
    }
}

.about-home {
    text-align: center;

    h1 {
        font-size: 5rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }

    p {
        max-width: 400px;
    }
}

@media (min-width: $breakpoint-small) {

    .about-home {
        text-align: left;

        h1 {
            font-size: 5rem;
            margin-bottom: .25em;
            color: $color-text-body-light;
        }
    }
}