/* SITE STRUCTURE */

body {
    background: $color-background-dark;
}

/* FULL PAGE */

.fullpage {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

/* SECTION */

section {
    padding: 4em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
    scroll-snap-align: center;
}

/* HERO SECTION */

.hero {
    padding: 6em 0;
    color: $color-text-body-light;
    background: $color-background-dark;
    min-height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;

    h1 {
        font-size: 7rem;
        margin-bottom: .25em;
        color: $color-text-body-light;
    }

    p {
        margin: 1em auto;
    }
}

@media (min-width: $breakpoint-small) {
    .hero {
        text-align: left;

        h1 {
            margin-bottom: .25em;
            color: $color-text-body-light;
        }

        p {
            margin: 1em auto;
        }
    }

}